.ssa-drupal-help-link {
  background: #0E68A7;
  border-radius: 50%;
  height: 1.2rem;
  margin-top: -0.1rem;
  aspect-ratio: 1 / 1;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  float: right;
}
.ssa-drupal-help-link:hover {
  background: #0b5386;
  color: #ffffff;
}
