.dx8-styles-panel .cke_panel_grouptitle {
  font-size: 13px;
  cursor: pointer;
  position: relative;
}

.dx8-styles-panel .cke_panel_grouptitle:hover {
  background: #eee;
}

.dx8-styles-panel .cke_panel_grouptitle:after {
  position: absolute;
  right: 5px;
  top: 5px;
}

.dx8-styles-panel .cke_panel_grouptitle.open:after {
  content: "-";
  right: 6px;
}

.dx8-styles-panel .cke_panel_grouptitle.closed:after {
  content: "+";
}

.dx8-styles-panel .cke_panel_list.open {
  display: block;
}

.dx8-styles-panel .cke_panel_list.closed {
  display: none;
}

/* Video Embed */
.coh-video .coh-video-inner {
    background: #dbdbdc url('../css/video-icon.png') no-repeat center center;
    min-height: 80px;
}