.sdc-twig-component {
    width: 30%;
    padding: 10px;
    margin: 5px;
    background-color: #F2F2F2;
    line-height: normal;
}

.sdc-twig-component h2 {
    font-size: 30px;
}

.sdc-twig-component .twig-title {
    width: 100%;
    font-size: 25px;
    background-color: #E1E1E1;
    padding: 10px;
}

.sdc-twig-component .twig-entity-reference, .sdc-twig-component .twig-paragraph {
    background-color: #E1E1E1;
    padding: 10px;
}

.sdc-twig-component .twig-dropzone {
    background-color: #E1E1E1;
    padding: 10px;
}
