<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="../../../core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true">
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/src/Unit</directory>
      <directory>./modules/*/tests/src/Unit</directory>
      <directory>./modules/*/modules/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>./tests/src/Kernel</directory>
      <directory>./modules/*/tests/src/Kernel</directory>
      <directory>./modules/*/modules/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>./tests/src/Functional</directory>
      <directory>./modules/*/tests/src/Functional</directory>
      <directory>./modules/*/modules/*/tests/src/Functional</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
</phpunit>