.js-component-container {
    width: 30%;
    padding: 10px;
    margin: 5px;
    background-color: #F2F2F2;
    line-height: normal;
}

.js-component-container h2 {
    font-size: 30px;
}

.js-component-container .heading-text {
    width: 100%;
    font-size: 25px;
    background-color: #E1E1E1;
    padding: 10px;
}

.js-component-container .content-text {
    background-color: #E1E1E1;
    padding: 10px;
}
