{#
/**
 * @file
 * Example of a twig template driven by Site Studio custom element that is a container.
 */
#}

<div class="{{ elementClass }}" data-element="example">
  My example template twig file of a custom element that is a container.
  <p>{{ elementSettings.mytextfield }}</p>
  {{ elementChildren }}
</div>
