.coh-google-map-1by1 {
   padding-bottom: 100%;
}

.coh-google-map-4by3 {
   padding-bottom: 75%;
}

.coh-google-map-3by2 {
   padding-bottom: 66.67%;
}

.coh-google-map-8by5 {
   padding-bottom: 62.5%;
}

.coh-google-map-16by9 {
   padding-bottom: 56.25%;
}
