.coh-editor-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255, 0.4);
  z-index: 1000;
}
.coh-editor-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coh-editor-loading:before {
   content: '';
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border: 4px solid #DDD;
   border-left-color: #0E68A7;
   border-radius: 50%;
   box-sizing: border-box;
   animation: rotate 0.75s infinite linear;
 }
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
