{# render the component preview full page wrapper #}
<div id="cohApp"></div>
<form id="cohPreviewForm" class="coh-form coh-canvas-preview-new-window">
  <div
    sf-schema="form.schema"
    sf-form="form.form"
    sf-model="form.model"
    sf-options="form.options"></div>
</form>
