{# render the component preview full page wrapper #}
<div id="ssaApp" class="ssa-app ssa-canvas-preview-new-window"></div>
<form id="cohPreviewForm" class="ssa-app coh-form coh-canvas-preview-new-window"></form>
