{#
/**
 * @file
 * Default theme implementation for a Site Studio element.
 *
 * This file should not be used.
 *
 * Individual templates should be provided by the API.
 *
 * @ingroup themeable
 */
#}
<div>{{ type }}</div>
