{#
    This needs to be here as a fallback for deleted component twig templates.
    DO NOT remove.
#}
<div{{ attributes }}>
  {{ title_suffix }}
  <p>Error: Unable to find a template for suggestion matching <strong>{{ template }}</strong></p>
</div>
