{# overrides page.html.twig for the component preview page #}

{# the wrapper around the component preview contents inside the iframe #}
<div id="dx-preview-container" class="coh-container">
  <div class="coh-row coh-row-hidden-xl coh-row-hidden-xs">
    <div class="coh-row-inner">
      <div id="dx-preview-column-width" class="coh-column">
        {{ preview_build }}
      </div>
    </div>
  </div>
</div>
