$responsive-grid-settings: (
    breakpoints: (
        xs: (
            key: xs
        ),
        sm: (
            key: sm
        ),
        ps: (
            key: ps
        ),
        md: (
            key: md
        ),
        lg: (
            key: lg
        ),
        xl: (
            key: xl
        )
    )
);
